
    <div class="container">
        <h2 class="text-6xl p-8" >ねぎらいのほし</h2>
        <div class="mb-4">
            <p>ここはねぎらいの星。</p>
            <p>ここでのコミュニケーションで使える言葉は3つだけ。</p>
            <p>ねぎらいの星に訪れた誰かにねぎらってもらい、ときにはあなたが誰かをねぎらってあげましょう。</p>
        </div>

        <div class="mb-4">
            <h3>ねぎらいの星に訪れる人</h3>
            <p>1. 誰かに褒められたい</p>
            <p>2. 不安や悩みを周囲には話すことができない</p>
            <p>3. 頑張っている自分を誰かにねぎらってもらいたい</p>
        </div>

        <div class="mb-4">
            <h3>ねぎらいの星で使える言葉</h3>
            <p>1. ありがとう</p>
            <p>2. 頑張ってるね</p>
            <p>3. 大丈夫</p>
        </div>
        <% if user_signed_in? %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "home-btn" %>
            <%= link_to 'ねぎらう', posts_path,   class: "home-btn" %>
        <% else %>
            <%= link_to 'ログイン', login_path,  class: "home-btn" %>
            <%= link_to '新規登録', new_user_registration_path,  class: "home-btn" %>
            <%= link_to 'ゲストログイン（閲覧用）', guest_sign_in_path, method: :post,  class: "home-btn"%>
    <% end %>
    </div>
