
    <div class="content">
        <div class="top-background pb-30">
                <div class="main-contents">
                    <div class="container">
                        <h1 class="mb-4 title text-center">ねぎらいのほし</h1>
                            <div class="chatches mb-5">
                                <h3 class="text-center bold mb-4">互いにねぎらい、<br>ほっと心癒される場所。</h3>
                                <div class="sub-chatch mt-10 text-center">
                                    <p class="text-left mb-4">頑張るあなたを<span class="orange bold">”ねぎらう”</span>サービスです。</p>
                                        <% if !user_signed_in? %>
                                            <p class="text-center"><%= link_to '今すぐ始める(ゲスト)', guest_sign_in_path, method: :post, class: "start-btn" %></h1>
                                            <div class="d-flex justify-content-around">
                                                <p><%= link_to 'ログイン', login_path,  class: "start-btn" %></p>
                                                <p><%= link_to '新規登録', new_user_registration_path,  class: "start-btn" %></p>
                                            </div>
                                        <% else %>
                                            <%= link_to '早速ねぎらってもらう', posts_path, class: "start-btn" %>
                                        <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="sub-contents-1 center container">
                <h1 class="font-weight-bold"><span class="marker">"ねぎらいのほし"</span>ってなに？</h1>
                <p class="mb-5">ねぎらいのほしはこんなときに役立ちます。</p>
                <div class="features">
                    <h4 class="pt-2">1. ねぎらってもらいたいとき</h4>
                    <div class="explain d-flex row p-6">
                        <div class="col-5 my-3">
                            <%= image_tag src='comfort.jpeg', class: 'rounded-circle' %>
                        </div>
                        <div class="col-7 explain-text">
                            <p>ねぎらってもらい<br>自己肯定感を上げよう。</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h4 class="pt-2">2. 不安や弱音を吐きたいとき</h4>
                    <div class="explain d-flex flex-row-reverse p-6">
                        <div class="col-5 my-2">
                            <%= image_tag src='unhappy_girl.jpeg', class: 'rounded-circle' %>
                        </div>
                        <div class="col-7">
                            <p>不安や弱音は吐き出して<br>発散しましょう。</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h4 class="pt-2">3. 共感してもらいたいとき</h4>
                    <div class="explain d-flex p-6">
                            <div class="col-5">
                                <%= image_tag src='friendship.jpeg',class: 'rounded-circle' %>
                            </div>
                            <div class="col-7 explain-text">
                                <p>共感してくれる人が<br>きっといるはずです。</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="sub-contents-2 center container">
                <h1 class="my-5 text-center"><span class="marker">特徴・使い方</span></h1>
                <div class="features">
                    <h1 class="explain-number text-center my-2">01</h1>
                    <h2>コミュニケーションに使える言葉は３つだけ。</h2>
                    <div class="text-center my-4">
                        <%= image_tag src='hugging.jpeg', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>「ステキ」 「大丈夫」 「わかるよ」</p>
                        <p>ただ、聞いてもらいたい<br>そんなとき多くの言葉は必要ありません。</p>
                    </div>
                </div>
                <div class="features">
                    <h1 class="explain-number text-center my-2">02</h1>
                    <h2 class="text-center">ときには他のユーザーを<br>ねぎらってあげよう</h2>
                    <div class="text-center my-4">
                        <%= image_tag src='text-message.jpeg', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>誰かをねぎらうことで<br>自分をねぎらう練習にもなります。</p>
                    </div>
                </div>
                <div class="features">
                    <h1 class="explain-number text-center my-2">03</h1>
                    <h2 class="text-center">匿名で、気兼ねなく呟ける</h2>
                    <div class="text-center my-4">
                        <%= image_tag src='chat_women.png', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>他のユーザーに共有されるのは<br>あなたのプロフィール画像だけ。</p>
                    </div>
                </div>
            </div>
            <div class="policy">
                <%= link_to '利用規約', term_path%>
                <%= link_to 'プライバシー', privacy_path %>
                <%= link_to 'お問い合わせ' %>
            </div>
            <% if user_signed_in? %>
                <%= render 'shared/navbar' %>
            <% end %>
        </div>
    </div>
