
    <div class="content">
        <div class="top-background pb-30">
                <div class="main-contents">
                    <div class="container">
                        <h1 class="mb-4 title text-center">ねぎらいのほし</h1>
                            <div class="chatches mb-5">
                                <h4 class="text-center bold">互いにねぎらい、<br>ほっと心癒される場所。</h4>
                                <div class="m-2 text-center mb-3">
                                    <%= image_tag src='starman.png', class: 'logo' %>
                                </div>
                                <div class="sub-chatch mt-10 text-center">
                                    <p class="text-left mb-4">頑張るあなたを<span class="orange bold">”ねぎらう”</span>サービスです。</p>
                                        <% if !user_signed_in? %>
                                            <p class="text-center"><%= link_to '今すぐ始める(ゲスト)', guest_sign_in_path, method: :post, class: "start-btn guest-login" %></h1>
                                            <div class="d-flex justify-content-evenly">
                                                <p><%= link_to 'ログイン', login_path,  class: "start-btn login-btn" %></p>
                                                <p><%= link_to '新規登録', new_user_registration_path,  class: "start-btn registration-btn" %></p>
                                            </div>
                                        <% else %>
                                            <%= link_to '早速ねぎらってもらう', posts_path, class: "start-btn post-btn" %>
                                        <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="sub-contents-1 center container">
                <h2 class="font-weight-bold text-center mb-3"><span class="marker">"ねぎらいのほし"</span>って？</h2>
                <p class="mb-4 small">ねぎらいのほしはこんなときに役立ちます。</p>
                <div class="features">
                    <h4 class="pt-2">1. ねぎらってもらいたい</h4>
                    <div class="explain d-flex row p-6">
                        <div class="col-5 my-3">
                            <%= image_tag src='comfort.jpeg', class: 'rounded-circle' %>
                        </div>
                        <div class="col-7 explain-text">
                            <p class="small">ねぎらってもらい、自己肯定感を上げよう。</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h4 class="pt-2">2. 不安や弱音を吐きたい</h4>
                    <div class="explain d-flex flex-row-reverse p-6">
                        <div class="col-5 my-2">
                            <%= image_tag src='unhappy_girl.jpeg', class: 'rounded-circle' %>
                        </div>
                        <div class="col-7">
                            <p class="small">不安や弱音は吐き出してスッキリしよう。</p>
                        </div>
                    </div>
                </div>
                <div class="features">
                    <h4 class="pt-2">3. 共感してもらいたい</h4>
                    <div class="explain d-flex p-6">
                            <div class="col-5">
                                <%= image_tag src='friendship.jpeg',class: 'rounded-circle' %>
                            </div>
                            <div class="col-7 explain-text">
                                <p class="small">共感してもらうだけで楽になることも。</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="sub-contents-2 center container">
                <h2 class="my-5 text-center"><span class="marker">特徴・使い方</span></h2>
                <div class="features">
                    <h1 class="explain-number text-center my-2">01</h1>
                    <h3>他のユーザーに送れる言葉は３つだけ。</h3>
                    <div class="text-center my-4">
                        <%= image_tag src='hugging.jpeg', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>「ステキ」「大丈夫」「わかるよ」</p>
                        <p>ただ、聞いてもらいたいときに<br>多くの言葉はいらない。</p>
                    </div>
                </div>
                <div class="features">
                    <h1 class="explain-number text-center my-2">02</h1>
                    <h3 class="text-center">ときには他のユーザーをねぎらおう</h3>
                    <div class="text-center my-4">
                        <%= image_tag src='text-message.jpeg', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>誰かをねぎらうことで<br>自分をねぎらう練習にもなります。</p>
                    </div>
                </div>
                <div class="features">
                    <h1 class="explain-number text-center my-2">03</h1>
                    <h2 class="text-center">匿名で、気兼ねなく呟ける</h2>
                    <div class="text-center my-4">
                        <%= image_tag src='chat_women.png', size: '200x200', class: 'contain rounded-circle' %>
                    </div>
                    <div class="explain text-center">
                        <p>他のユーザーに共有されるのは<br>あなたのプロフィール画像だけ。</p>
                    </div>
                </div>
            <div class="policy">
                <%= link_to '利用規約', term_path%>
                <%= link_to 'プライバシー', privacy_path %>
            </div>
            </div>
            <% if user_signed_in? %>
                <%= render 'shared/navbar' %>
            <% end %>
        </div>
    </div>
