<div class= "container">
<h1><%= t('.title') %></h1>
  <div class="profiles-header">
    <% if @user.avatar? %>
      <%= image_tag @user.avatar.url, id: 'preview', size: '80x80', class: 'rounded-circle' %>
    <% else %>
      <%= image_tag src='default.png', class: "rounded-circle", size: '80x80' %>
    <% end %>   
    <p class="profile-content"><%= @user.username %></p>
    <p class="profile-content"><%= @user.email %></p>
  </div>
    <div class="profiles-footer">
      <%= link_to t(".edit"), edit_profiles_path, class: "edit-btn" %>
    </div>
</div>

<%= render 'users/show', posts: @posts %>