<div class="container">
  <h1>あなたのメッセージ</h1>
  <% posts.each do |post| %>
      <div class="post" id="post<%= post.id%>">
        <div class="my-post">
          <div class="icon">
          <% if post.user.avatar? %>
            <%= image_tag post.user.avatar.url, id: 'preview', size: '80x80', class: 'rounded-circle' %>
          <% else %>
            <%= image_tag src='default.png', class: "ounded-circle", size: '80x80' %>
          <% end %>   
          </div>
          <div class="message-content">
            <p class="message"><%=  post.content %></p>
            <div id="js-post-<%= post.id %>">
              <p id="js-post-error-<%= post.id %>" class="text-danger"></p>
              <textarea style="display: none;" id="js-textarea-post-<%= post.id %>" class="form-control post-error"><%= post.content %></textarea>
              <div id="js-post-button-<%= post.id %>" style="display: none;" class="edit-option">
                <button data-update-id=<%= post.id%> type="submit" class="btn post-update-button">更新</button>
                <button data-cancel-id=<%= post.id %> type="button" class="btn post-cancel-button ">キャンセル</button>
              </div>
            </div>
            <div class="side-bar">
              <span id="index_like_<%= post.id %>">
                  <%= render 'likes/like', post: post %>
              </span>
              <span id="index_calm_<%= post.id %>">
                  <%= render 'calms/calm', post: post %>
              </span>
              <span id="index_cheer_<%= post.id %>">
                  <%= render 'cheers/cheer', post: post %>
              </span>
              <% if user_signed_in? && post.user_id == current_user.id %>
                  <span data-post-id="<%= post.id %>" class="js-edit-button">
                      <%= icon('fas', 'edit') %>
                  </span>
                  <%= link_to "削除", post_path(post.id), class:"post_delete delete-icon", method: :delete %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
  <% end %>
</div>

