<nav class="nav-footer">
    <ul>
        <li class="d-flex justify-content-around">
          <%= link_to top_path do %>
            <%= icon('fas', 'globe-asia') %>ホーム
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <%= icon('fas', 'hand-holding-heart') %>ねぎらう
          <% end %>
        </li>
        <li>
          <%= link_to profiles_path do %>
            <%= icon('fas', 'id-card') %>マイページ
          <% end %>
        </li>
    </ul>
</nav>

