<% posts.each do |post| %>
    <div class="posts-container" id="post<%= post.id%>">
        <div class="my-post">
            <div class="icon">
            <% if post.user.avatar? %>
                <%= image_tag post.user.avatar.url, id: 'preview', size: '50x50', class: 'rounded-circle' %>
            <% else %>
                <%= image_tag src='default.jpeg', size: '50x50', class: 'rounded-circle' %>
            <% end %>   
            </div>
            <div class="message-content row">
                <p class="message"><%= simple_format post.content, id: "post_body" %></p>
                <div id="js-post-<%= post.id %>" class="edit-field" >
                    <p id="js-post-error-<%= post.id %>" class="text-danger"></p>
                    <textarea style="display: none;" id="js-textarea-post-<%= post.id %>" class="post-error edit-textarea"><%= post.content %></textarea>
                    <div id="js-post-button-<%= post.id %>" style="display: none;" class="edit-post">
                        <button data-update-id=<%= post.id%> type="submit" class="btn post-update-button">更新</button>
                        <button data-cancel-id=<%= post.id %> type="button" class="btn post-cancel-button">キャンセル</button>
                    </div>
                </div>
                <div class="side-bar">
                    <div class="react-icons d-flex justify-content-around">
                        <span id="index_like_<%= post.id %>">
                            <%= render 'likes/like', post: post %>
                        </span>
                        <span id="index_calm_<%= post.id %>">
                            <%= render 'calms/calm', post: post %>
                        </span>
                        <span id="index_cheer_<%= post.id %>">
                            <%= render 'cheers/cheer', post: post %>
                        </span>
                    </div>
                    <div class="edit-icons d-flex justify-content-end">
                    <% if user_signed_in? && post.user_id == current_user.id && current_user.not_guest? %>
                        <span data-post-id="<%= post.id %>" class="js-edit-button">
                            <%= icon('fas', 'edit') %>
                        </span>
                        <span>
                            <%= link_to post_path(post.id), class:"post_delete delete-icon", method: :delete do %>
                            <%= icon('far', 'trash-alt') %>
                            <% end %>
                        </span>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% end %>
            