<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:card" content="summary" /> 
    <meta name="twitter:site" content="@NOqvWY0hJfCNdaB" /> 
    <meta property="og:url" content="https://negirai-no-hoshi.herokuapp.com/top" /> 
    <meta property="og:title" content="ねぎらいのほし" /> 
    <meta property="og:description" content="頑張ったことや不安なことを匿名で呟き、励ましてもらえるアプリです。" />
    <meta property="og:image" content="<%= asset_url('ogp1.png') %>" /> 
    <title>ねぎらいのほし</title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-8J4V8MZRGW"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-8J4V8MZRGW');
    </script>
  </head>

  <body>
    <%= render 'shared/flash_message' %>
      <%= yield %>
  </body>
</html>
